@media screen and (max-width: 600px) {


    #name,.title{
        font-size: 3rem;
    }

    .Main-title p{
        font-size: 1.5rem;
    }

    .section-container{
        display: flex;
        flex-direction: column;
    }

    nav{
        display: flex;
        flex-direction: column;
        height: 5rem;
        top: 0px;
        position: sticky;
        
        
    }

    #profile{
        height: 70vh;
    }

    #about{
        height: 520px;
        flex-direction: column;
    }

    #projects{
        height: 600px;
    }


    .project_sect_container{
        flex-direction: column;
    }

    .photo{
        font-size: 3rem;
    }

    #not_in_phone{
        display: none;
    }
}
