@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
}

.logo{
    font-family: 'Sacramento', cursive;
    font-size:larger;
}

body{
    font-family: 'Chakra Petch', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.Main-title{
    flex-direction: column;
    display: flex;
    justify-items: center;
    align-items: center;
}


.title{
    text-align: center;
    font-size: 5rem;
}

#textLoop{
    text-align: center;
    font-size: 5rem;
    animation: changeText 3s infinite; /* Change text every 6 seconds */
}

/* Define keyframes for the animation */
@keyframes changeText {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.title2{
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    color: #D76F30;
    font-weight: 200;
}
.Main-title p {
    animation: show 5s ease;
}

@keyframes show {
    0% {margin-top:-270px;}
    66% {margin-top:0px;}
}

p{
    color: rgb(0, 0, 0);
}

/* Transition */

a{
    font-size: 11px;
}

a, .btn, .resume_btn{
    transition: all 300ms ease;
    text-decoration: none;
}

/* nav */

nav, .nav-links{
    display: flex;
}

nav{
    top:0px;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: sticky;
    background-color: aliceblue;
}

.nav-links{
    gap: 2rem;
    list-style: none;
    font-size: 15px;
}

a{
    color: black;
}

a:hover{
    color: rgb(223, 80, 80);
}


.section_text{
    align-items: center;
    padding: 2rem;
    display: grid;
    justify-content: space-evenly;
    gap: 2rem;
}


section{
    padding-top: 4vh;
    height: 90vh;
}
.section_text_p1{
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.resume_btn_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
}

.resume_btn{
    background: #dddd;
    border-radius: 3rem;
    border: none;
    padding: 1rem 1rem;
    font-family: 'Poppins';
    font-size: 1rem;
    width: 12rem;
    height: 12rem;
}

.resume_btn:hover{
    color: white;
    background: #F67280;
    transform: rotate(360deg);
    border-radius: 7rem;
}


#projects{

    background-color: aliceblue;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
}


.project_sect_container{
    display: flex;
    justify-content: space-around;
    padding: 2rem 3rem 3rem 3rem;
    gap: 2rem;
}

.project-item{
    justify-items: center;
    padding: 1rem;
    border: 3px solid rgb(243, 192, 192);
    border-radius: 2rem;
}

#about{
    padding: 3rem;
    gap: 3rem;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.desc{
    text-align:justify;
    font-size: 16px;
}
.photo{
    border-radius: 3rem;
    color: #C06C84;
    font-size: 5rem;
    padding: 3rem;
}

@keyframes rotate{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

.not_in_phone{
    font-size: x-small;
    color: #000000;
}

.fa-rotate{
    animation: rotate 30s linear infinite;
}


#contact{
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color: antiquewhite;
}


#vr-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Adjust this value to set the height of the VR display */
    z-index: -1;
    overflow: hidden;
  }

  a-scene {
    width: 100%;
    height: 100%;
  }


  .images{
      /*animation: moveAround 2s ease-out infinite;*/
  }

  @keyframes moveAround{
      0%{transform: translate(0px,0px);}
      100%{transform: translate(100px,100px);}
  }

  @keyframes changeText {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
 
